body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9e2b2b;
  }
  
  .homepage {
    max-width: 960px;
    margin: 0 auto;
    background-color: #179172;
    padding: 20px;
    box-shadow: 0 0 10px rgba(192, 37, 184, 0.1);
    border-radius: 5px;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    font-size: 36px;
    color: #ccc127;
    margin: 0;
  }
  
  p {
    color: #bd1313;
    font-size: 18px;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
    background-color: #40b99f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: #2600fff8;
  }
  
  footer {
    text-align: center;
    background-color: #5967b6;
    padding: 10px 0;
  }
  
  p {
    font-size: 14px;
    color: #ffffff;
  }
  
  