
<!DOCTYPE html>


<body>
    <mat-toolbar color="primary">
        <span>Inicio</span>
        <mat-icon matBadge="22" matBadgeColor="accent" color="primary">home</mat-icon>
    </mat-toolbar>

    <div class="content">
        <mat-tab-group>
            <mat-tab label="Redes">
                <ng-template matTabContent>
                    <div class="tab-content">
                        <img src="assets/AN_5.png" alt="Descripción de la imagen 1">
                        <h2>Instagram: @PPGAME</h2>
                        <h2>Facebook: JUEGOS PPGAME</h2>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Información">
                <ng-template matTabContent>
                    <div class="tab-content">
                        <h2>Contactos:</h2>
                        <h2>8484855788</h2>
                        <h2>8778854558</h2>
                        <h2>Correo:</h2>
                        <h2>12765@UTL.EDU.MX</h2>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Acerca De">
                <ng-template matTabContent>
                    <div class="tab-content">
                        <h2>Empresa dedicada a la distribución de videojuegos</h2>
                        <h2>Fundada en el año 2023 / Oct / 10</h2>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</body>


