.sidenav-container {
  height: 100%;
  background-color: #1ee028; /* Cambia #F2F2F2 al color que desees */
}

.sidenav {
  width: 250px;
  background-color: #21aa28b4; /* Cambia #333 al color que desees */
  color: rgb(192, 17, 17); /* Cambia el color del texto dentro del sidenav si es necesario */
}

.content {
  padding: 20px;
  background-color: #c2dd28; /* Cambia #FFFFFF al color que desees */
}

.mat-list-item {
  cursor: pointer;
  background-color: #c22222; /* Cambia #E0E0E0 al color que desees */
}

.mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212; /* Cambia #CCCCCC al color que desees */
}

